<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head') %> 
<link rel="stylesheet" href="./css/home.css">
<body>
    <div class="container1 body">
        <%- include('../includes/aloneStudent') %>
         <main class="">
             <!-- NAME -->
             <div class="Name">
                 <h1>Student</h1>
             </div>
             <!-- ALL STUDENTS -->
             <div class="padding_cont mt-4 birnima">
                 <table class="table">
                     <thead class="thead_dark">
                       <tr>
                         <th scope="col">N⁰</th>
                         <th scope="col">Ism</th>
                         <th scope="col">Tel Raqami</th>
                         <th scope="col" colspan="2">Kursi turi</th>
                       </tr>
                     </thead>
                     <tbody class="tbody">
                         <% studentGroup.map((e,i)=>{ %> 
                            <tr>
                                <th scope="row"><%= i+1 %> </th>
                                <td><%= e.name %>   </td>
                                <td><%= e.phoneNumber %></td>
                                <td><%= e.deta %> </td>
                                
                            </tr>
                            <% }) %> 
                     </tbody>
                   </table>
             </div>
         </main>
     </div>
</body>
<script src="./js/main.js"></script>
</html>